@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

:root {
	--background: #dbe8f7;
	--primary: #fefeffff;
	--second: #f4f7f9;
	--accent: #2a61ff;
	--text-primary: #253a66;
	--text-second: #8b96ae;
}

/* Select Input */
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('./assets/solar_alt-arrow-down-outline.svg');
	background-repeat: no-repeat;
	background-position-x: 90%;
	background-position-y: 50%;
	padding-right: 30px !important;
}

select:focus {
	outline-color: var(--accent);
}

body {
	min-height: 100vh;
	background-color: var(--background);
	padding: 2rem;
}

.container-table {
	background-color: var(--primary);
	border-radius: 1rem;
}

.container-table .filters {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid var(--background);
	min-height: 50px;
}

.container-table .filters,
.container-table table {
	padding: 30px 30px 30px 30px;
}

.container-table table {
	padding: 15px 30px 30px 30px;
}

.component {
	min-height: 35px;
	border-radius: 8px;
	padding: 8px;
	border: 1px solid var(--background);
}

.filter {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--text-primary);
	fill: var(--text-second) !important;
	background-color: var(--primary);
	cursor: pointer;
	font-size: 14px;
}

.component:hover {
	filter: brightness(90%);
}

.wrapper-table {
	width: 100%;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--text-second) transparent;
}

.wrapper-table::-webkit-scrollbar {
	height: 16px !important;
}

.wrapper-table::-webkit-scrollbar-track {
	background: transparent;
}
.wrapper-table::-webkit-scrollbar-thumb {
	width: 4px;
	background-color: var(--text-second);
	border: 4px solid var(--primary);
	border-radius: 999px;
}

table {
	width: 100%;
	border-spacing: 0;
	border-radius: 16px;
	border-collapse: separate;
	border-spacing: 0em 1em;
}
thead tr {
	background-color: var(--second);
	font-size: 12px;
	border-radius: 16px;
	color: var(--text-second);
}

thead th {
	padding: 16px 8px;
}

thead th:first-child {
	border-radius: 16px 0 0 16px;
}
thead th:last-child {
	border-radius: 0 16px 16px 0;
}
thead button {
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	border: none;
	color: currentColor;
	font-size: inherit;
	font-weight: bold;
	text-transform: uppercase;
	background-color: transparent;
}
thead button img {
	width: 16px;
	height: 16px;
}

tbody .perfil {
	display: flex;
	gap: 8px;
	align-items: center;
}

tbody .perfil img {
	width: 35px;
	aspect-ratio: 1;
	border-radius: 999px;
}
tbody th:not(:first-child) {
	padding: 8px;
	text-align: left;
	color: var(--text-primary);
	font-weight: 700;
	font-size: 14px;
}
tbody th:nth-child(2) {
	min-width: 180px;
}

@media screen and (max-width: 768px) {
	.perfil span {
		width: 120px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

@media screen and (max-width: 481px) {
	body {
		padding: 1.25rem;
	}

	.container-table .filters,
	.container-table table {
		padding: 20px 20px 20px 20px;
	}

	.container-table table {
		padding: 10px 20px 20px 20px;
	}
}
