#radio-container {
    position: relative;
    width: 20px;
    aspect-ratio: 1/1;
    outline: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
}

input::after {
    position: absolute;
    content: '';
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    opacity: 0;
}

#radio-container input {
    appearance: none;
}
 
#radio-container input:checked::after {
    appearance: initial;
    opacity: 1;
}

#radio-container , #radio-container * {
    cursor: pointer;
}
